# 02 Data Type
(Reference: Jump to Python https://wikidocs.net/12)

# 02-1 Number

[문제1] 점수의 평균
홍길동씨의 과목별 점수는 각각 다음과 같다.
홍길동씨의 평균점수를 구하시오.

In [42]:
import pandas as pd

In [43]:
score = [80, 75, 55]
subject = ["Korean", "English", "Math"]
x = pd.DataFrame(score, index = subject)
x

          0
Korean   80
English  75
Math     55

In [44]:
sum(score)/3

70.0

[문제2] 자연수의 홀짝
주어진 자연수가 홀수인지 짝수인지 판별할 수 있는 방법에 대해서 말해보자.

In [45]:
# 임의의 자연수 n을 2로 나누었을 때 나머지가 0이면 짝수이고, 나머지가 1이면 홀수임을 알 수 있다.

In [51]:
3%2, 171%2, 4%2, 432%2

(1, 1, 0, 0)

# 02-2 String

### How to Make Strings

In [61]:
"Python's favorite food is cute"

"Python's favorite food is cute"

In [62]:
'Python\'s favorite food is cute'

"Python's favorite food is cute"

In [63]:
'"Python is very cute." he says.'

'"Python is very cute." he says.'

In [64]:
life = "Life is too short\nYou need python"
print(life)

Life is too short
You need python

In [66]:
bookcookbunny = """
\"You just live once,
Go get a life.\"
bookcookbunny says.
"""
print(bookcookbunny)

"You just live once,
Go get a life."
bookcookbunny says.

### How to Calculate Strings

In [3]:
# Concatenation
bc = "bookcook"
bn = "bunny"
bc+bn

'bookcookbunny'

In [7]:
a = 'wink'
a*2

'winkwink'

In [8]:
2*a

'winkwink'

In [9]:
# 문자열 길이 구하기
a = "Go get a life"
len(a)

13

### Indexing & Slicing

In [55]:
a = "Eunbi is so cute and smart"
# 문자열에서 각 문자의 위치는 두 자리수로 이루어져 있다.
a[15], a[-2]

('e', 'r')

In [56]:
a[21:26], a[21]+a[22]+a[23]+a[24]+a[25], a[-5:-1]+a[-1]
# a[시작 번호: 끝 번호]에서 끝 번호에 해당하는 요소값은 포함되지 않는다.

('smart', 'smart', 'smart')

In [39]:
a[:], a[0:26], a[:26], a[21:-1]+a[-1]

('Eunbi is so cute and smart',
 'Eunbi is so cute and smart',
 'Eunbi is so cute and smart',
 'smart')

In [49]:
# Abigail을 Abygail로 바꾸기
a = "Abigail"
# a[2] = "y" 에러가 발생. 문자열의 요소값은 바꿀 수 있는 값이 아니다. 문자열, 튜플 등의 자료형은 immutable한 자료형.

In [53]:
a[:2] + 'y' + a[3:]

'Abygail'

### Formatting

In [60]:
"Bookcookbunny's weight is %dkg" % 1000

"Bookcookbunny's weight is 1000kg"

In [59]:
"Bookcookbunny's weight is %skg" % "a hundred "

"Bookcookbunny's weight is a hundred kg"

In [63]:
number = 1000
"Bookcookbunny's weight is %dkg" % number

"Bookcookbunny's weight is 1000kg"

In [65]:
number = "thousand"
"Bookcookbunny's weight is %s kg" % number

"Bookcookbunny's weight is thousand kg"

In [67]:
n1 = 3
n2 = "five"
"She started reading at %d years old. And giving speech at %s years old." % (n1, n2)

'She started reading at 3 years old. And giving speech at five years old.'

In [75]:
"%20s" % "bunny"

'               bunny'

In [96]:
"{0:>20}".format("bookcookbunny")

'       bookcookbunny'

In [78]:
"%-20sbookcook" % "bunny"

'bunny               bookcook'

In [97]:
"{0:<20}".format("bookcookbuny")

'bookcookbuny        '

In [80]:
"%.4f" % 42.3829329329

'42.3829'

In [81]:
"%10.3f" % 42.3829329329

'    42.383'

In [82]:
n1 = 3
n2 = "five"
"She started reading at {0} years old. And giving speech at {1} years old.".format(n1,n2)

'She started reading at 3 years old. And giving speech at five years old.'

In [84]:
"She started reading at {n1} years old. And giving speech at {n2} years old.".format(n1=3, n2="five")

'She started reading at 3 years old. And giving speech at five years old.'

In [89]:
"She started reading at {0} years old. And giving speech at {n2} years old.".format(3, n2 = "five")

'She started reading at 3 years old. And giving speech at five years old.'

### 연습문제

[문제1] 문자열 나누기
홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동씨의 주민등록번호를 연월일(YYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

In [101]:
id = "881120-1068234"
YYMMDD = id[:6]
a = id[7:]
YYMMDD, a

('881120', '1068234')

[문제2] 문자열 인덱싱
주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.
pin = "881120-1068234"

In [102]:
pin = "881120-1068234"
pin[-7], pin[7]

('1', '1')

[문제3] 문자열 바꾸기1
다음과 같은 문자열이 있다.
a:b:c:d
문자열의 replace 함수를 이용하여 위 문자열을 다음과 같이 고치시오.
a#b#c#d

In [103]:
a = "a:b:c:d"
a.replace(":","#")

'a#b#c#d'

[문제4] 문자열 바꾸기2
다음과 같은 문자열이 있다.
a:b:c:d
문자열의 split와 join 함수를 이용하여 위 문자열을 다음과 같이 고치시오.
a#b#c#d

In [113]:
a = "a:b:c:d"
"#".join(a.split(":"))

'a#b#c#d'