# 02 Data Type
(Reference: Jump to Python https://wikidocs.net/12)

# 02-1 Number

[문제1] 점수의 평균
홍길동씨의 과목별 점수는 각각 다음과 같다.
홍길동씨의 평균점수를 구하시오.

In [42]:
import pandas as pd

In [43]:
score = [80, 75, 55]
subject = ["Korean", "English", "Math"]
x = pd.DataFrame(score, index = subject)
x

          0
Korean   80
English  75
Math     55

In [44]:
sum(score)/3

70.0

[문제2] 자연수의 홀짝
주어진 자연수가 홀수인지 짝수인지 판별할 수 있는 방법에 대해서 말해보자.

In [45]:
# 임의의 자연수 n을 2로 나누었을 때 나머지가 0이면 짝수이고, 나머지가 1이면 홀수임을 알 수 있다.

In [51]:
3%2, 171%2, 4%2, 432%2

(1, 1, 0, 0)

# 02-2 String

In [61]:
"Python's favorite food is cute"

"Python's favorite food is cute"

In [62]:
'Python\'s favorite food is cute'

"Python's favorite food is cute"

In [63]:
'"Python is very cute." he says.'

'"Python is very cute." he says.'

In [64]:
life = "Life is too short\nYou need python"
print(life)

Life is too short
You need python

In [66]:
bookcookbunny = """
\"You just live once,
Go get a life.\"
bookcookbunny says.
"""
print(bookcookbunny)

"You just live once,
Go get a life."
bookcookbunny says.